{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% if created is defined %}
            <h1>Create a new Article! 🚀</h1>
        {% else %}
            <h1>Edit the Article! 🚀</h1>
        {% endif %}

        {{ form_start(articleForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(articleForm.title, {
            label: 'Article title'
        }) }}

        {{ form_row(articleForm.file, {
            label: 'Excel file'
        }) }}

        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(articleForm) }}
    </div>
{% endblock %}