{% extends 'base.html.twig' %}
{% block body %}
    <h1>Edit the Article! 🚀</h1>

    <form method="POST" action="{{ path('admin_upload_test') }}" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit" class="btn btn-primary">Upload!</button>
    </form>
{% endblock %}